// nextflow.config
//TODO: upate manifest
// manifest {
//     name = 'Luxen13'
//     author = 'Luca Drescher'
//     description = 'workflow raw pod5 -> analysis ready array of data for DRS experiments'
//     mainScript = 'main.nf'
//     nextflowVersion = '>=22.10.0' // 
//     version = '0.5.0'
// }


// Default parameters
params {
    cpus = 4
    use_gpu = 'cuda:all'  // GPU specification: 'cuda:all', 'cuda:0', 'cuda:0,1', etc.
    //aws_queue = null
    //aws_region = 'us-east-1'
}

// Global process defaults
process {
    cpus = { params.cpus }
    
    // Container definitions
    withName: 'DORADO_BASECALL' {
        container = 'ontresearch/dorado:shaf2aed69855de85e60b363c9be39558ef469ec365'
        containerOptions = '--gpus all'  // GPU access for Docker container
    }
    withName: 'MINIMAP2_ALIGN_GENOME' {
        container = 'nanozoo/minimap2:2.28--9e3bd01'
    }
    withName: 'MINIMAP2_ALIGN_TRANSCRIPTOME' {
        container = 'nanozoo/minimap2:2.28--9e3bd01'
    }
    withName: 'MODKIT_PILEUP_GENOME' {
        container = 'ontresearch/modkit:sha489d708a48c66368e5d1e118538e5dca68203a64'
    }
    withName: 'MODKIT_PILEUP_TRANSCRIPTOME' {
        container = 'ontresearch/modkit:sha489d708a48c66368e5d1e118538e5dca68203a64'
    }
    withName: 'NANOCOMP' {
        container = 'luxendr13/nanocomp:0.6.0'
    }
}

profiles {
    // Default profile - uses Docker
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
 
    // Singularity profile
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
 
    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true
    }
 
    // AWS Batch profile,
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        //aws.region = params.aws_region
        //aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        
        process {
            executor = 'awsbatch'
            queue = params.aws_queue
            memory = '64G'
            shell = ['/bin/bash', '-euo', 'pipefail']
            
            // GPU settings for Dorado on AWS Batch
            withName: 'DORADO_BASECALL' {
                containerOptions = "-e NVIDIA_DRIVER_CAPABILITIES=compute,utility --gpus all"
            }
        }
    }
 
    // Development: fast feedback, no containers (ONLY if tools installed locally)
    dev {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
    }
}
